.iovanna
    display: flex
    justify-content: center
    margin-top: 100px
.tablaclientes
    width: 90%
    margin: auto
    display: flex
    margin-top: 10px
    -webkit-box-shadow: 0px 0px 5px 0px rgba(171,169,171,1)
    -moz-box-shadow: 0px 0px 5px 0px rgba(171,169,171,1)
.tablagestion
    width: 90%
    margin: auto
    display: flex
    align-content: center
    margin-top: 0px
    -webkit-box-shadow: 0px 0px 5px 0px rgba(171,169,171,1)
    -moz-box-shadow: 0px 0px 5px 0px rgba(171,169,171,1)
    // d8zPV5c6G7